:root {
    --background-blue: #D6E6FF;
    --font-blue: #3F9AEE;
    --light-yellow: #FFFFEA;
    --light-green: #D7F9F8;
    font-family: monospace, sans-serif;
}

.homepage-container {
    background-color: var(--background-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    padding: 50px 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 4rem;
    color: var(--font-blue);

}

.description-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.description-top, .description-bot {
    padding: 20px;
    border-radius: 12px;
    width: 60%;
}

.description-top {
    background-color: var(--light-green);
}

.description-bot {
    background-color: var(--light-yellow);
}

.description-top:hover, .description-bot:hover {
    transform: scale(1.05);
    transform-origin:center;
    transition-duration: 0.5s;
}

.description-top h2 {
    margin: 0;
    color: var(--font-blue);
}

.description-bot h3 {
    margin: 0;
    color: var(--font-blue);
}

.club-pic {
    width: 400px;
    position: absolute;
    top: 60px;
    right: 50px;
    transform: rotate(20deg);
    background: linear-gradient(rgba(104, 44, 177, 0.5), rgba(41, 119, 187, 0.3)) fixed;
    border-radius: 12px;
    transition: 300ms ease-in-out;
}

.club-pic:hover {
    transform: scale(1.05);
    transform-origin:center;
    transition-duration: 0.5s;
}

.waves1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves1 svg {
    position: relative;
    display: block;
    width: calc(286% + 1.3px);
    height: 500px;
}

.waves1 .shape-fill {
    fill: #D7F9F8;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons {
    position: absolute;
    z-index: 1;
    bottom: 100px;
}

.browse-btn, .admin-login-btn {
    background-color: var(--light-yellow);
    padding: 30px;
    font-size: 2rem;
    color: var(--font-blue);
    margin: 10px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
}

.browse-btn:hover, .admin-login-btn:hover {
    background-color: rgb(245, 237, 134);
    cursor: pointer;
}