:root {
    --background-blue: #D6E6FF;
    --font-blue: #3F9AEE;
    --light-yellow: #FFFFEA;
    --light-green: #D7F9F8;
    font-family: monospace, sans-serif;
}

.adminpage-container {
    background-color: var(--background-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-blue);
    background: linear-gradient(-45deg, #e5d4ef, #fbe0e0, #d7f9f8, #d6e6ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--light-yellow);
    padding: 45px;
    border-radius: 12px;
}

input {
    color: var(--font-blue);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    font-weight: 700;
    font-size: 1.8rem;
}

.input-container input {
    width: fit-content;
}

.categories-container .categories-title,
.members-container .members-title {
    font-weight: 700;
    font-size: 1.7rem;
}

.check-container {
    display: flex;
    justify-content: space-between;
}

.radio-containers {
    display: flex;
    justify-content: space-between;
}

form button {
    background-color: var(--light-green);
    border: none;
    color: var(--font-blue);
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 10px;
}

form button:hover {
    background-color: #98e3e1;
    cursor: pointer;
}