<html>
   <body>

      <form action = "{{ url_for('user_cate') }}" method = "POST">
         <h3>What are the Categories of Club filtering</h3>
         Health<br>
         <input type = "text" name = "cn" /></br>

         Science<br>
         <textarea name = "cate" ></textarea><br>

         Math<br>
         <input type = "text" name = "nm" /><br>

         Compsci<br>
         <input type = "text" name = "em" /><br>

         business<br>
         <input type = "text" name = 'num'/><br>
         
         <input type = "submit" value = "submit" /><br>
      </form>

   </body>
</html>